 /* General */
 
 body {
     color: #303336;
     font-family: 'Roboto', sans-serif;
     line-height: 1.6;
     background: linear-gradient(50deg, #1b1b1c, #282929 10%, #1b1b1c);
     background-attachment: fixed;
     margin: 5% 0;
 }
 h1 {
     font-size: 5em;
     font-weight: normal;
 }
 .navbar-brand span,
 a,
 a:hover,
 a:active,
 a:focus {
     color: #60BA79;
     text-decoration: none;
 }
 img {
     max-width: 100%;
     height: auto;
 }
 header {
     color: #f8f8f8;
 }
 .navbar {
     min-height: 95px;
 }
 .clearfix {
     clear: both;
     margin: 0;
     height: 0;
 }
 hr {
     border: 0;
     height: 1px;
     position: relative;
     margin: 20px 0;
 }
 .information {
     background: #333 url(http://static.tumblr.com/ojdfmaf/Kbwnytb45/bg.jpg)no-repeat;
     background-size: cover;
     min-height: 100px;
     padding: 130px 100px 50px 50px;
     border-radius: 5px;
     color: #fff;
     font-size: 16px;
 }
 .navbar-custom {
     margin-bottom: 0;
     text-transform: uppercase;
 }
 .navbar-custom .navbar-brand {
     font-weight: 700;
 }
 .navbar-custom .navbar-brand:focus {
     outline: 0;
 }
 .navbar-custom .navbar-brand .navbar-toggle {
     padding: 4px 6px;
     font-size: 16px;
     color: #fff;
 }
 .navbar-custom .navbar-brand .navbar-toggle:focus,
 .navbar-custom .navbar-brand .navbar-toggle:active {
     outline: 0;
 }
 .navbar-custom a {
     color: #fff;
 }
 .navbar-custom .nav li a {
     -webkit-transition: background .3s ease-in-out;
     -moz-transition: background .3s ease-in-out;
     transition: background .3s ease-in-out;
 }
 .navbar-custom .nav li a:hover {
     outline: 0;
     color: rgba(255, 255, 255, .8);
     background-color: transparent;
 }
 .navbar-custom .nav li a:focus,
 .navbar-custom .nav li a:active {
     outline: 0;
     background-color: transparent;
 }
 .navbar-custom .nav li.active {
     outline: 0;
 }
 .navbar-custom .nav li.active a {
     background-color: rgba(255, 255, 255, .3);
 }
 .navbar-custom .nav li.active a:hover {
     color: #fff;
 }
 hr:before {
     top: -0.5em;
     height: 1em;
 }
 hr:after {
     content: '';
     height: 0.5em;
     top: 1px;
 }
 hr:before,
 hr.fancy-line:after {
     content: '';
     position: absolute;
     width: 100%;
 }
 hr,
 hr:before {
     background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
     background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0)));
     background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
     background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
     background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
     background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
 }
 footer {
     color: #666;
 }
 footer {
     display: none;
     text-transform: uppercase;
 }
 /* Content */
 
 .tumbposts {
     padding: 0;
     margin: 0;
     display: none;
 }
 ol.tumbposts li {
     list-style: none;
     position: relative;
     overflow: hidden;
     padding: 10px;
 }
 .post img,
 .wrap {
     border-radius: 5px;
     overflow: hidden;
     position: relative;
 }
 .grid-custom {
     background: url(http://static.tumblr.com/ojdfmaf/jA8nyustb/balls.svg)no-repeat center 10%;
     min-height: 300px;
     padding-top: 150px;
 }
 .nobg {
     background: transparent;
     padding-top: 0;
 }
 /* Text */
 
 .inner .text {
     width: 50%;
     margin: 0 auto;
     background: #fff;
     padding: 25px;
     border-radius: 5;
 }
 /* Audio */
 
 .soundcloud_audio_player {
     max-height: 300px !important;
     overflow: hidden;
 }
 .audio {
     background: #fff;
     padding: 0;
     border-radius: 5px;
     overflow: hidden;
 }
 /* Photo Posts */
 
 .photoinfo {
     font-size: 12px;
     position: absolute;
     bottom: 0;
     width: 100%;
     padding: 0 20px 20px;
 }
 .info {
     background: #eee;
 }
 .photoinfo i {
     color: #60BA79;
 }
 .photo .info ul {
     padding: 0;
     margin: 0;
 }
 .photo .info ul li {
     list-style: none;
 }
 .caption {
     padding: 5px;
 }
 .innerphotoinfo {
     color: #f8f8f8;
 }
 /* Quotes */
 
 .quote {
     border-radius: 5px;
     overflow: hidden;
 }
 .kowt {
     background: #f8f8f8;
     padding: 15px 15px 30px;
     font-size: 18px;
     color: #111;
 }
 .source {
     background: #2F2F2F;
     padding: 15px;
     text-align: center;
     color: #fff;
 }
 .kowt i {
     color: #000;
     font-size: 30px;
 }
 /* Videos */
 
 .video-wrapper {
     position: relative;
     padding-bottom: 56, 25%;
     overflow: hidden;
     width: 100% !important;
     height: 0 !important;
 }
 .video-wrapper iframe {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
 }
 /* Links */
 
 .link .wrap {
     padding: 15px;
     background: #fff;
     -webkit-border-bottom-right-radius: 5px;
     -webkit-border-bottom-left-radius: 5px;
     -moz-border-radius-bottomright: 5px;
     -moz-border-radius-bottomleft: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     -webkit-border-top-left-radius: 0px;
     -webkit-border-top-right-radius: 0px;
     -moz-border-radius-topleft: 0px;
     -moz-border-radius-topright: 0px;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
 }
 /* Media Queries */
 
 @media(min-width:768px) {
     .navbar-custom {
         padding: 20px 0;
         border-bottom: 0;
         letter-spacing: 1px;
         background: 0 0;
         -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
         -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
         transition: background .5s ease-in-out, padding .5s ease-in-out;
     }
     .navbar-custom.top-nav-collapse {
         padding: 0;
         border-bottom: 1px solid rgba(255, 255, 255, .3);
         background: #000;
     }
     @media screen and (min-width: 501px) and (max-width: 999px) {
         ol.tumbposts li {
             width: 50%;
         }
     }
 }
 @media screen and (min-width: 1000px) {
     .container {
         width: 90%;
     }
 }
